### Importação dos dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

# Usando o método head para visualização e conhecimento do Dataset da loja 01:
loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [ ]:
# Usando o método head para visualização e conhecimento do Dataset da loja 02:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [ ]:
# Usando o método head para visualização e conhecimento do Dataset da loja 03:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [ ]:
# Usando o método head para visualização e conhecimento do Dataset da loja 04:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

# 1. Análise do faturamento

In [266]:
# Como já sabemos que só temos 4 lojas, podemos criar um array das lojas:
lojas = [loja, loja2, loja3, loja4]

# Agora basta rodarmos um for para fazer a soma de cada loja e printar o resultado na tela das vendas de cada uma:
for i in range(len(lojas)):
    total_de_vendas = lojas[i].Preço.sum().round(2)
    print(f'O faturamento total das vendas na loja 0{i + 1} foi de R$ {total_de_vendas}.')

O faturamento total das vendas na loja 01 foi de R$ 1534509.12.
O faturamento total das vendas na loja 02 foi de R$ 1488459.06.
O faturamento total das vendas na loja 03 foi de R$ 1464025.03.
O faturamento total das vendas na loja 04 foi de R$ 1384497.58.

# 2. Vendas por Categoria

In [286]:
import pandas as pd
from IPython.display import display, HTML

num = 1

vendas_1 = loja.groupby('Categoria do Produto')[['Produto']].count().join(loja.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_1 = vendas_1.rename(columns={'Produto' : 'Qtdes', 'Preço' : 'Loja 1 (R$)'})
vendas_2 = loja2.groupby('Categoria do Produto')[['Produto']].count().join(loja2.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_2 = vendas_2.rename(columns={'Produto' : 'Qtdes', 'Preço' : 'Loja 2 (R$)'})
vendas_3 = loja3.groupby('Categoria do Produto')[['Produto']].count().join(loja3.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_3 = vendas_3.rename(columns={'Produto' : 'Qtdes', 'Preço' : 'Loja 3 (R$)'})
vendas_4 = loja4.groupby('Categoria do Produto')[['Produto']].count().join(loja4.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_4 = vendas_4.rename(columns={'Produto' : 'Qtdes', 'Preço' : 'Loja 4 (R$)'})

# 1. Converter cada DataFrame para string HTML
html_loja = vendas_1.to_html()
html_loja2 = vendas_2.to_html()
html_loja3 = vendas_3.to_html()
html_loja4 = vendas_4.to_html()

# 3. Combinar os HTMLs em uma estrutura com CSS para layout lado a lado
# Utilizamos divs com a propriedade 'display: inline-block' para alinhar os elementos
# e 'margin' para dar espaço entre eles.

combined_html = f"""
<div>
    <div style="display: inline-block; margin-right: 20px;">
        <h3>Vendas por Categoria da Loja 0{num}:</h3>
        {html_loja}
    </div>
    <div style="display: inline-block; margin-right: 20px;">
        <h3>Vendas por Categoria da Loja 0{num}:</h3>
        {html_loja2}
    </div>
    <div style="display: inline-block; margin-right: 20px;">
        <h3>Vendas por Categoria da Loja 0{num}:</h3>
        {html_loja3}
    </div>
    <div style="display: inline-block;">
        <h3>Vendas por Categoria da Loja 0{num}:</h3>
        {html_loja4}
    </div>
</div>
"""
pd.set_option('display.max_colwidth', None)

# 4. Exibir o HTML combinado na célula do Colab
display(HTML(combined_html))

In [287]:
import pandas as pd
import IPython.display

vendas_1 = loja.groupby('Categoria do Produto')[['Produto']].count().join(loja.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_1 = vendas_1.rename(columns={'Produto' : 'Qtdes Lj 1', 'Preço' : 'Loja 01 (R$)'})
vendas_2 = loja2.groupby('Categoria do Produto')[['Produto']].count().join(loja2.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_2 = vendas_2.rename(columns={'Produto' : 'Qtdes Lj 2', 'Preço' : 'Loja 02 (R$)'})
vendas_3 = loja3.groupby('Categoria do Produto')[['Produto']].count().join(loja3.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_3 = vendas_3.rename(columns={'Produto' : 'Qtdes Lj 3', 'Preço' : 'Loja 03 (R$)'})
vendas_4 = loja4.groupby('Categoria do Produto')[['Produto']].count().join(loja4.groupby('Categoria \
do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
vendas_4 = vendas_4.rename(columns={'Produto' : 'Qtdes Lj 4', 'Preço' : 'Loja 04 (R$)'})

# Concatena horizontalmente (axis=1) em um único DataFrame
df_combinado = pd.concat([vendas_1, vendas_2, vendas_3, vendas_4], axis=1)

print("\033[1mVENDAS POR CATEGORIA:\033[0m")
display(df_combinado)

VENDAS POR CATEGORIA:

,Qtdes Lj 1,Loja 01 (R$),Qtdes Lj 2,Loja 02 (R$),Qtdes Lj 3,Loja 03 (R$),Qtdes Lj 4,Loja 04 (R$)
Categoria do Produto,,,,,,,,
eletronicos,448,572659.23,422,547773.71,451,547699.92,451,545966.86
eletrodomesticos,312,484913.36,305,464758.13,278,438984.89,254,377680.65
moveis,465,250178.11,442,235234.68,499,268095.56,480,256705.65
instrumentos musicais,182,121731.69,224,139987.03,177,103174.45,170,100136.50
esporte e lazer,284,52387.55,275,46326.09,277,47456.10,277,44465.65
brinquedos,324,23993.78,313,21262.21,315,25869.20,338,27015.67
utilidades domesticas,171,16931.48,181,19662.86,177,20080.21,201,20098.83
livros,173,11713.92,197,13454.35,185,12664.70,187,12427.77

In [334]:
import pandas as pd
import IPython.display

categorias_juntas = []

for i in range(len(lojas)):
    venda = lojas[i].groupby('Categoria do Produto')[['Produto']].count().join(lojas[i].groupby('Categoria do Produto')[['Preço']].sum()).sort_values('Preço', ascending = False)
    venda = venda.rename(columns={'Produto' : f'Qtdes Loja 0{i + 1}', 'Preço' : f'Loja 0{i + 1} (R$)'}).join((lojas[i].groupby('Categoria do Produto')[['Preço']].sum() * 100 / lojas[i].Preço.sum()).round(2))
    venda = venda.rename(columns={'Preço' : '% Vendas'})
    categorias_juntas.append(venda)

# Concatena horizontalmente (axis=1) em um único DataFrame
df_combinado = pd.concat([categorias_juntas[0], categorias_juntas[1], categorias_juntas[2], categorias_juntas[3]], axis=1)

print("\033[1mVENDAS POR CATEGORIA:\033[0m")
display(df_combinado)

VENDAS POR CATEGORIA:

,Qtdes Loja 01,Loja 01 (R$),% Vendas,Qtdes Loja 02,Loja 02 (R$),% Vendas,Qtdes Loja 03,Loja 03 (R$),% Vendas,Qtdes Loja 04,Loja 04 (R$),% Vendas
Categoria do Produto,,,,,,,,,,,,
eletronicos,448,572659.23,37.32,422,547773.71,36.80,451,547699.92,37.41,451,545966.86,39.43
eletrodomesticos,312,484913.36,31.60,305,464758.13,31.22,278,438984.89,29.98,254,377680.65,27.28
moveis,465,250178.11,16.30,442,235234.68,15.80,499,268095.56,18.31,480,256705.65,18.54
instrumentos musicais,182,121731.69,7.93,224,139987.03,9.40,177,103174.45,7.05,170,100136.50,7.23
esporte e lazer,284,52387.55,3.41,275,46326.09,3.11,277,47456.10,3.24,277,44465.65,3.21
brinquedos,324,23993.78,1.56,313,21262.21,1.43,315,25869.20,1.77,338,27015.67,1.95
utilidades domesticas,171,16931.48,1.10,181,19662.86,1.32,177,20080.21,1.37,201,20098.83,1.45
livros,173,11713.92,0.76,197,13454.35,0.90,185,12664.70,0.87,187,12427.77,0.90

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja